# Copyright (c) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence Operator GitHub Actions Release build.
# ---------------------------------------------------------------------------
name: Test

on:
  workflow_dispatch:
  push:
    branches-ignore:
    - gh-pages
    - p4-integ*
    - last-p4-*

jobs:
  build:
    runs-on: ubuntu-22.04


    steps:
    - if: ${{ env.action_timeout == '' }}
      run: export ACTION_TIMEOUT=180
        
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: test
      shell: bash
      run: |
          echo "mkdir"
          mkdir -p /tmp/jk/test-classes/certs/
          echo "1"
          openssl genrsa -passout pass:s3cr37 -aes256 -out /tmp/jk/test-classes/certs/server-ca-ca.key 4096
          echo "2"
          openssl req -passin pass:s3cr37 -new -x509 -days 3650 -subj /CN=server-ca -key /tmp/jk/test-classes/certs/server-ca-ca.key -out /tmp/jk/test-classes/certs/server-ca-ca.cert
          echo "3"
          openssl genrsa -passout pass:pa55w0rd -aes256 -out /tmp/jk/test-classes/certs/server.key 4096
          echo "4"
          openssl req -passin pass:pa55w0rd -new -subj /CN=server -key /tmp/jk/test-classes/certs/server.key -out /tmp/jk/test-classes/certs/server-signing.key
          # echo "5"
          # openssl x509 -req -passin pass:s3cr37 -days 3650 -in /tmp/jk/test-classes/certs/server-signing.key -CA /tmp/jk/test-classes/certs/server-ca-ca.cert -CAkey /tmp/jk/test-classes/certs/server-ca-ca.key -set_serial 01 -out /tmp/jk/test-classes/certs/server.cert -extfile /tmp/jk/test-classes/certs/csr-details.txt
          echo "6"
          # openssl pkcs8 -topk8 -outform pem -v1 PBE-MD5-DES -in /tmp/jk/test-classes/certs/server.key -out /tmp/jk/test-classes/certs/server.pem -passin pass:pa55w0rd -passout pass:pa55w0rd
          openssl pkcs8 -topk8 -outform pem -v2 des3 -in /tmp/jk/test-classes/certs/server.key -out /tmp/jk/test-classes/certs/server.pem -passin pass:pa55w0rd -passout pass:pa55w0rd

