name: Production deploy
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          echo ${{github.event.workflow_run.conclusion}}
          echo Context:
          echo "$GITHUB_CONTEXT"          
